img{
  width: 175px;
  border-radius: 100px;
}
body{
background-color: #eaf6f6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 7%;
  color: grey;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66bfbf;
}
